<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>
    {% block titulo %}  Perry o HTML {% endblock %}
    </title>
</head>

<body>
    {% block body %}
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9l4ODlUskbxJ9Bp-xQ5E50JP90OHWDm0aI9-wi1s&s">
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>